// Variables
$Soft-reality: #EEECEA;

// Type
.small-bold {
    font-size: 11px;
    font-weight: 600;
}
.small-reg {
    font-size: 11px;
}
h1 {
    font-size: 28px;
    font-weight: bold;
}
p {
    font-size: 15px;
}

// General
* {
    font-family: 'Poppins', sans-serif;
    color: #2f2f2f;
}
body {
    background-color: $Soft-reality;
}
a {
    text-decoration: none;
}
input[type="search"] {
    background-color: white;
    border-radius: 4px;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.235);
    padding: 8.5px;
    width: 70%;
    margin-bottom: 1rem;
    @media (min-width: 768px) {
        max-width: 390px;
        margin: 0 auto 1rem;
    }
}

// Header
header {
    max-width: 90%;
    margin: 0 auto;
    padding-top: 45px;
    @media (min-width: 768px) {
        text-align: center;
        
    }
    span {
        display: block;
    }
    hr {
        border: 1px solid #2f2f2f;
        text-align: left;
        width: 65%;
        margin-left: 0;
        @media (min-width: 768px) {
            width: 30%;
            max-width: 155px;
            text-align: center;
            margin: 8px auto 0;
        }
    }
    h1 {
        margin-bottom: 0;
    }
    p {
        margin-top: 5px;
        width: 65%;
        @media (min-width: 768px) {
            width: 30%;
            max-width: 155px;
            margin: 5px auto 1rem;
        }
    }
    .fa-search {
        padding-left: 8.5px;
        @media (min-width: 768px) {
            position: absolute;
            top: 12px;
            left: 8px;
            
        }
    }
}

// Instax cards
.instax {
    width: 155px;
    height: 248px;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.235);
    // This part of the code will be removed after grading
    @media (min-width: 768px) {
        margin: 0 auto;
    } 
    // This part of the code will be removed after grading
    .marker-case {
        font-size: 12px;
        font-family: 'Caveat', cursive;
        margin: 6px 20px 0 20px;
    }
    img {
        width: 142px;
        height: 179px;
        border-radius: 2px;    
        margin-top: 17px;
    }
}

// Gallery layout
.gallery {
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 155px);
    grid-auto-rows: 1fr;
    gap: 17px 7px;
    margin: 0 auto;
    // This part of the code will be removed after grading
    @media (min-width: 768px) { 
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    // This part of the code will be removed after grading
}
