// Variables
$Soft-reality: #EEECEA;

// Type
.small-bold {
    font-size: 11px;
    font-weight: 600;
}
.small-reg {
    font-size: 11px;
}
h1 {
    font-size: 28px;
    font-weight: bold;
}
p {
    font-size: 15px;
}

// Imports
@import "variables.scss";

// General
* {
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: $Soft-reality;
}


// Header
header {
    width: 220px;
    padding: 3rem 1.8rem;
    span {
        display: block;
    }
    hr {
        border: 1px solid #2f2f2f;
    }
    h1 {
        margin-bottom: 0;
    }
    p {
        margin-top: 5px;
    }
    .search-box {
        background-color: white;
        border-radius: 4px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.235);
        padding: 8.5px;
    }
    .fa-search {
        padding-left: 8.5px;
    }
    @media (min-width: 768px) {
        text-align: center;
        background-color: red;
        
    }
}

// Instax cards
.instax {
    width: 155px;
    height: 248px;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.235);
    .marker-case {
        font-size: 12px;
        font-family: 'Caveat', cursive;
        margin: 6px 20px 0 20px;
    }
    img {
        width: 142px;
        height: 179px;
        border-radius: 2px;    
        margin-top: 17px;
    }
}

// Gallery layout
.gallery {
    max-width: 84.8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 155px);
    grid-auto-rows: 1fr;
    gap: 17px 7px;
    margin: 0 auto;
}
